* {
   margin: 0;
   padding: 0;
}

.tudo{
    width: 400px;
    height: 500px;
    margin: 20px auto;
  border: 1px solid black;
}

.foto{
    width: 150px;
    height: 150px;
  border: 1px solid black;
  padding: 10px;
}

.Botao{
    width: 140px;
    height: 20px;
    margin-top: 0px;
  border: 1px solid black;
  padding: 5px;
}

.linha{
    width: 385px;
    height: 20px;
  border: 1px solid black;
}

.p{
    width: 382px;
   padding: 5px;
  border: 1px solid black;
}

.primeiro {
  margin-bottom: 40px
}

.segundo {
  margin-top: 20px;
}

.caixas{
    margin-top: 10px;
    display: block;
}

.c{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
}

footer {
  margin: 10px 20px 30px 40px;
  border: 1px solid black;
  padding: 5px;
}